.root{
    -fx-background-image:url('restaubg.jpg');
    -fx-background-size:cover;
}
#paneleftsidelogin{

    -fx-background-color: linear-gradient(to top, rgba(197,106,27,1) 0%, rgba(120,79,44,0.3393732492997199) 100%);
}