.root{
/*
    -fx-background-image:url('background3.jpg');
*/
    -fx-background-color: grey;
    -fx-background-size:cover;
}
#paneleftsidelogin{

    -fx-background-color: linear-gradient(to top, #34216B, BLACK);
}

#button_login{
     -fx-background-color: linear-gradient(to right, #34216B, BLUE);
     -fx-background-radius: 30;
}
#button_register{
    -fx-background-color: linear-gradient(to right, #34216B, BLUE);
    -fx-background-radius: 30;
}
#input_psw{
    -fx-background-radius: 30;
}
#input_pseudo{
    -fx-background-radius: 30;
}

#isConnected{
    -fx-background-color: WHITE;
}